{% extends "base.html" %}

{% block sub-heading %}
<h1 class="text-center">
    Update Patient
</h1>

{% if success %}
    <div class="alert alert-warning">
        Patien Data Has Been Updated
        <a href="{% url "patient:index" %}" class="btn btn-warning ms-2"><strong><u>See All Patients</u></strong></a>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form action="" method='POST' >
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Submit Data</button>
                <a href="{% url "patient:index" %}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endif %}

{% endblock sub-heading %}


